:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Maitree", sans-serif;
    --third-family: "Hind Jalandhar", sans-serif;
    --font3: "Baloo 2", sans-serif;
}

body {
    background-color: #222;
}

* {
    padding: 0;
    margin: 0;
}

.header {

    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.img {
    max-width: max-content;
    background-size: cover;
    border: none;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header__ {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    list-style-type: none;
    display: flex;
    margin-left: 250px;
    margin-top: 60px;
}

.header__ a {
    text-decoration: none;
    color: #fff;
}

.head_li {
    display: flex;
    margin-left: 60px;
}


.statistics {
    border-color: #818181;
    border-radius: 1px;
    display: flex;
    justify-content: space-around;

    margin-top: 50px;
}

.experience {
    display: flex;
    margin-left: 100px;

}

.num {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 128px;
    text-align: center;
    color: #feed01;

}

.text_ex {
    font-family: var(--second-family);
    font-weight: 275;
    font-size: 48px;
    text-align: center;
    color: #b0b0b0;

}

.invisiadle {
    margin-top: 100px;
}

.stats {
    background: linear-gradient(180deg, #000000 79.34%, #222222 100.34%);

}


.inf_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.inf_title {

    margin-top: 174px;
    flex-direction: column;
}

.inf_text2 {
    font-family: var(--second-family);
    font-weight: 275;
    font-size: 52px;
    text-align: center;
    color: #b0b0b0;
    display: flex;
}

.inf_content {
    display: flex;
    justify-content: space-evenly;
}

.inf_text {

    display: flex;
    flex-direction: column;
    margin-top: 280px;
    margin-left: 20px;
}

.inf_title1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 160px;
    text-align: center;
    color: #fff;
    display: flex;

    color: #fff;
}

.inf_title2 {
    display: flex;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 115px;
    text-align: center;
    color: #fff;
    margin-top: -20px;
    margin-left: 100px;
}

.numbers {
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
    justify-content: space-around;
}

.texts1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 200px;
    justify-content: space-around;
}

.invisiadle {
    margin-top: 150px;
}

.experience {
    border: #818181;

}


.exsample_drec {
    border-radius: 53px;
    width: 481px;
    height: 343px;
    background: #2f2f2f;
    opacity: 0.9;
}

.experience_num {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 128px;
    text-align: center;
    color: #feed01;

}

.experience_text {
    font-family: var(--second-family);
    font-weight: 275;
    font-size: 48px;
    text-align: center;
    color: #b0b0b0;
}










.exsample_main {
    display: flex;
    flex-direction: column;

}

.experience_grup {
    display: flex;
}


.exsample_drec__ {


    font-family: var(--font-family);
font-weight: 400;
color: #feed01;
font-size: 55px;
font-size: 32px;
list-style-type: none;
}

.exsample_drec_text {
    margin-left: 30px;
    margin-top: 10px;
}

.title_exsample {
    /* ГОТОВЫЕ */



    font-family: 'Maitree';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 211px;
    text-align: center;

    color: #F9F9F9;

    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 80px;
}

.title_exsample1 {

    display: flex;
}

.title_exsample2 {
    margin-top: -100px;
    display: flex;
}

.exsample_1 {
    margin-left: 400px;
    
}

.exsample_2 {
    margin-top: -500px;
    margin-left: 100px;
}

.exsample_3 {
    margin-left: 160px;
    margin-top: 100px;
}

.exsample_drec_text {
    /* Ремонт санузла 
Площадь: 
Тип: 
Срок: */



    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;

    color: #FEED01;


}





.mini_plus {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.big_plus {
    display: flex;
    justify-content: space-around;
}

.plus {
    display: flex;
    flex-direction: column;
}

.advantages_title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 308px;
}

.plus_title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 64px;
    color: #fff;
    display: flex;
    margin-left: 100px;
    margin-top: -100px;
    flex-direction: column;
}

.plus_text {
    font-family: var(--font-family);
    font-weight: 473;
    font-size: 36px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 20px;
}

.circle {
    margin-top: 100px;
}



.line {
    margin-top: 100px;
    border-color: #FEED01;
    border-width: 5px;
}

.login {
    border: 1px solid #484848;
    width: 541px;
    height: 112px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #5e5e5e;
    display: flex;
}

.email {
    border: 1px solid #484848;
    width: 541px;
    height: 112px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: #5e5e5e;
    text-align: center;
    display: flex;
}

.form_title {
    font-family: 'Maitree';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 132px;
    text-align: center;

    color: #FFFFFF;
}

.button1 {
    border: 1px solid #484848;
    width: 541px;
    height: 112px;
    background: #feed01;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #3c3c3c;
    display: flex;
}

.form {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #feed01;
}


.container {
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 52;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}